@{
    ViewBag.Title = "Contact";
}
<h2>Reach us at -</h2>

<address>
    Tower B – 3rd Floor, Cummins India Office Campus<br />
    Balewadi High Street, <br />
    Balewadi, <br />
    Pune, Maharashtra 411045 <br />
    <abbr title="Phone">P:</abbr>
    020 6712 2222
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:scheulwar@mediaocean.com">scheulwar@mediaocean.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:mshende@mediaocean.com">mshende@mediaocean.com</a><br />
    <strong>Adviser:</strong> <a href="mailto:asavaj@mediaocean.com">asavaj@mediaocean.com</a><br />
    <strong>Technical:</strong> <a href="mailto:tpatel@mediaocean.com">tpatel@mediaocean.com</a>
</address>